<!-- <div fxLayout="row wrap">
  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="100">
    <app-maxit-test></app-maxit-test>
  </div>
  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="100">
    <app-maxit-test-right></app-maxit-test-right>
  </div>
</div> -->

<section>
  <div class="banner">
    <div class="banner-img">
      <app-maxit-nav></app-maxit-nav>
      <div class="banner-content">
        <h2>
          PRECISE CONCEPT DESIGN <br />
          FOR STYLISH LIVING
        </h2>
        <p>
          If you are looking at blank cassettes on the web, you may be very
          confused at <br />
          the difference in price. You may see some for as low as $.17 each.
        </p>
        <button mat-button>Get Started</button>
      </div>
    </div>
  </div>
</section>
