.banner-img{
    background: url('../../../assets/img/banner/home-banner.jpg');
    height: 860px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat scroll center center;
    background-size: cover;
    z-index: 1;
}
.banner-content{
    position: absolute;
    left: 20%;
    top: 30%
    
}

.banner-content h2{
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.banner-content p{
    color: white;
    font-size: 16px;
    font-weight: 200;
}
.banner-content button{
    background-color: #a7cb00;
    border-radius: 5px;
    line-height: 36px;
    width: 120px;
    color: white;
    font-size: 12px;
    border: 1px solid #a7cb00;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: all 300ms linear 0s;
}