.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-toolbar {
  color: white;
}

h3{
    font-size: 26px !important;
}

a {
  text-decoration: none;
  color: white;
}
mat-divider {
  color: white;
}

mat-sidenav-container {
  max-height: 100vh;
  width: 100%;
 
}

mat-sidenav {
  max-height: 30vh;
  width: 100%;
 
  background-color: #a7cb00;
}
