<section>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="100px">
    <div class="about">
      <h2>ABOUT ME</h2>
      <p>
        If you own an Iphone, you’ve probably already worked <br />
        out how much fun it is to use it to watch movies-it has <br />
        that nice big screen, and the sound quality.
      </p>
    </div>
    <div class="news-letter">
      <h2>NEWSLETTER</h2>
      <p>Stay updated with our latest trends</p>
      <input mat-input type="text" placeholder="Email Address" />
      <button>
        <i class="material-icons" style="color: white">
          arrow_right_alt
        </i>
      </button>
    </div>
    <div class="social-icons">
      <h2>FOLLOW ME</h2>
      <p>Let us be social</p>
      <div class="icons" fxLayout="row">
        <a href="#" class="twitter">
          <i class="fa fa-twitter"> </i>
        </a>
        <a href="#" class="facebook">
          <i class="fa fa-facebook "> </i>
        </a>
        <a href="#" class="instagram">
          <i class="fa fa-instagram"> </i>
        </a>
        <a href="#" class="linkedin">
          <i class="fa fa-linkedin"> </i>
        </a>
      </div>
    </div>
  </div>

  <h6>
    Copyright ©2019 All rights reserved | This template is made with by Colorlib
  </h6>
</section>
