<section>
  <div class="content" align="center">
    <h1>
      RECENT FROM OUR BLOG
    </h1>
    <p>
      If you are looking at blank cassettes on the web, you may be very confused
      at the difference in price. You may see some for as low as $.17 each.
    </p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <mat-card class="cards">
      <div class="img-of-blog">
        <p>img</p>
      </div>
      <div class="content">
        <button mat-button>Travel</button>
        <button mat-button>life style</button>

        <h3>LOW COST ADVERTISING</h3>
        <p>
          Acres of Diamonds… you’ve read the famous <br />
          story, or at least had it related to you. A <br />
          farmer hears tales of diamonds and begins <br />
          dreaming of vast riches.
        </p>
        <p>31st January, 2018</p>
      </div>
    </mat-card>
    <mat-card class="cards">
      <div class="img-of-blog">
        <p>img</p>
      </div>
      <div class="content">
        <button mat-button>Travel</button>
        <button mat-button>life style</button>

        <h3>LOW COST ADVERTISING</h3>
        <p>
          Acres of Diamonds… you’ve read the famous <br />
          story, or at least had it related to you. A <br />
          farmer hears tales of diamonds and begins <br />
          dreaming of vast riches.
        </p>
        <p>31st January, 2018</p>
      </div>
    </mat-card>
    <mat-card class="cards">
      <div class="img-of-blog">
        <p>img</p>
      </div>
      <div class="content">
        <button mat-button>Travel</button>
        <button mat-button>life style</button>

        <h3>LOW COST ADVERTISING</h3>
        <p>
          Acres of Diamonds… you’ve read the famous <br />
          story, or at least had it related to you. A <br />
          farmer hears tales of diamonds and begins <br />
          dreaming of vast riches.
        </p>
        <p>31st January, 2018</p>
      </div>
    </mat-card>
  </div>
</section>
