<!-- <section>
  <div class="what-makes-heading">
    <h1 align="center">What Makes Us Best</h1>
  </div>
  <div *ngFor="let item of items">
    <div class="cards" fxLayout="row wrap"> -->
<!-- <div fxLayout="row wrap"> -->
<!-- <div fxLayout="row" fxFlex=100 fxFlex.sm=100 fxFlex.xs=100> -->
<!-- <div fxFlex="100" fxFlex.sm="50" fxFlex.xs="100" fxFlex.md="100">
          <span class="img-icon">
            <img src="{{ item.img }}" alt="" />
          </span>
          <div class="content">
            <h3>Fully Equipd Lab</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur <br />
              libero quis cupiditate deserunt, ex doloribus <br />
              Quae, atque. Eveniet corporis saepe nobis quo <br />
              vel id nisi.
            </p>
          </div>
        </div> -->

<!-- </div> -->
<!-- </div> -->
<!-- </div>
  </div>
</section>
  -->

<section>
  <div>
    <h1 align="center">What Makes Us Best</h1>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">

    <div *ngFor="let item of items">
<!-- <div fxFlex="100"  fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"> -->

      <div fxLayout="row"  >
        <div>
          <img class="img-icon" src="{{ item.img }}" alt="" />
        </div>
        <div>
          <h3>Fully Equipd Lab</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur <br />
            libero quis cupiditate deserunt, ex doloribus <br />
            Quae, atque. Eveniet corporis saepe nobis quo <br />
            vel id nisi.
          </p>
        </div>
      </div>
<!-- </div> -->


    </div>


  </div>
</section>


<!-- fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" -->