<section>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="60px">
    <div>
      <img src="../../../assets/img/clients-logo/c-logo-1.png" alt="c-logo-1" />
    </div>
    <div>
      <img src="../../../assets/img/clients-logo/c-logo-2.png" alt="c-logo-2" />
    </div>
    <div>
      <img src="../../../assets/img/clients-logo/c-logo-3.png" alt="c-logo-3" />
    </div>
    <div>
      <img src="../../../assets/img/clients-logo/c-logo-4.png" alt="c-logo-4" />
    </div>
    <div>
      <img src="../../../assets/img/clients-logo/c-logo-5.png" alt="c-logo-5" />
    </div>
  </div>
</section>
