<section>
  <div class="content" align="center">
    <h1>
      WHAT CUSTOMER SAY ABOUT US
    </h1>
    <p>
      If you are looking at blank cassettes on the web, you may be very confused
      at the difference in <br />
      price. You may see some for as low as $.17 each.
    </p>
  </div>
  <div  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-card>
      <div class="card-body">
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <div fxFlex="20">
         <img class="pro-img" src="../../../assets/img/testimonials/testi-1.png" alt="testi-1">
          </div>
          <div fxFlex="70">
            <p>
              If you are looking at blank cassettes on the web, you may be
              <br />
              very confused at the difference in price. <br />
              You may see some for as low as $.17 each.
            </p>
            <h2> Mark Avito wiens</h2>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="card-body">
        <div fxLayout="row wrap"  fxLayoutGap="10px">
          <div fxFlex="20">
           <img class="pro-img" src="../../../assets/img/testimonials/testi-2.png" alt="testi-2">
          </div>
          <div fxFlex="70">
            <p>
              If you are looking at blank cassettes on the web, you may be
              <br />
              very confused at the difference in price. <br />
              You may see some for as low as $.17 each.
            </p>
            <h2> Mark Avito wiens</h2>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>
